{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -eufo pipefail

brew bundle --file=/dev/stdin <<EOF
brew "chezmoi"
brew "fzf"
brew "git"
brew "pnpm"
brew "starship"
brew "wget"
brew "age"
brew "tree"
brew "zsh-autosuggestions"
brew "zsh-completions"
brew "zsh-history-substring-search"
brew "zsh-syntax-highlighting"
brew "jq"
brew "gh"
brew "bat"
brew "git-delta"
brew "lazygit"
brew "eza"
brew "fnm"
brew "httpie"
brew "tlrc"
cask "1password"
cask "betterdisplay"
cask "chatgpt"
cask "cursor"
cask "docker-desktop"
cask "font-hack-nerd-font"
cask "gcloud-cli"
cask "google-chrome"
cask "ghostty"
cask "ledger-live"
cask "ngrok"
cask "raycast"
cask "slack"
cask "spotify"
cask "visual-studio-code"
cask "zoom"
cask "nordvpn"
cask "whatsapp"

# VS Code Extensions
vscode "bradlc.vscode-tailwindcss"
vscode "dbaeumer.vscode-eslint"
vscode "eamodio.gitlens"
vscode "esbenp.prettier-vscode"
vscode "formulahendry.auto-rename-tag"
vscode "zhuangtongfa.material-theme"
EOF
{{ end -}}
